*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
body{
    align-items: center;
    background: linear-gradient(#ad5389,#3c1053);
    color: white;
    display: flex;
    min-height: 100vh;
    justify-content: center;

}
#show {
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: #fff;
    border: none;
    border-radius: 0;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
}
#container{

    padding: 20px;
    margin: 35px;
    border: 10px;
    background-color: black;
    width: 340px;
    border-radius: 10px;
}
#result {
    margin-bottom: 20px;
    padding-left: 5px;
}

input {
    background-color: #333333;
    color: white;
    height: 65px;
    width: 65px;
    cursor: pointer;
    border: none;
    border-radius: 72%;
    font-size: 1.5rem;
    padding: 15px;
    margin: 3.1px;
}
input:hover{
    background-color: #555;
    color: #fff;
}


#equal {
    background-color: #ff9a00;
    color: white;
    height: 65px;
    width: 65px;
    cursor: pointer;
    border: none;
    border-radius: 72%;}
#equal:hover{
    background-color: #ffab40;
}
.key{
    background-color: #a6a6a6;
}